POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=db
POSTGRES_USER=user
POSTGRES_PASSWORD=1234

INITIAL_ADMIN_USERNAME=admin
INITIAL_ADMIN_PASSWORD=ОченьСложныйПароль

SESSION_TTL_HOURS=12
SESSION_COOKIE_NAME="session_id"
SESSION_COOKIE_SECURE=False

LOG_LEVEL=INFO

SHEET_NAME="Товарные остатки Косметика"
REQUIRED_COLUMNS=["id","Стоимость","Остаток","Брэнд","Категория","Объем","Название","Описание"]

CORS_ORIGINS=["http://localhost","http://127.0.0.1"]

S3_ACCESS_KEY=key
S3_SECRET_KEY=key
S3_ENDPOINT_URL=url
S3_BUCKET_NAME=bucket-name
S3_VERIFY=/etc/ssl/certs/ca-certificates.crt
S3_GET_URL=url